/********************/
/*****STYLESHEET*****/
/********************/
* {
  margin: 0;
  width: auto;
  font-family: 'Montserrat', sans-serif; }

/**********/
/* NAVBAR */
nav {
  margin: 20px 0px 50px 0px; }

.navbar {
  display: flex;
  position: relative;
  top: 10px;
  padding: 0;
  list-style: none;
  justify-content: space-evenly;
  align-items: center; }
  .navbar li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #83472C; }

.navbar li a:hover {
  text-decoration: overline; }

.navbar li a:visited {
  color: #83472C; }

.logo-navbar {
  width: 80px; }

.btn-navbar-right {
  display: flex;
  align-items: center; }

#btnShoppingCart {
  width: 40px;
  margin: 10px 10px 10px 0px; }

#cartQuantity {
  font-size: 28px; }

/*****************/
/* PROMOTION BAR */
.promotionBar {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5e4bb;
  font-size: 16px;
  font-weight: bold;
  padding: 8px; }

/***************/
/* MAIN BANNER */
.bannerContainer {
  margin-right: 100px;
  display: flex;
  position: relative; }
  .bannerContainer img {
    width: 100%;
    height: auto; }
  .bannerContainer button {
    position: absolute;
    top: 75%;
    left: 57%;
    background-color: #f5e4bb;
    color: #83472C;
    border-radius: 7%;
    padding: 15px;
    border: 0px;
    font-weight: bold; }

/**************/
/*****MAIN*****/
/**************/
/************************/
/* RECOMMENDED PRODUCTS */
.recommendedContainer {
  margin-top: 100px; }

.recommendedTitle {
  display: flex;
  justify-content: center;
  font-size: 30px; }

.recommendedProducts {
  display: flex;
  justify-content: center;
  margin: 50px; }

/*************/
/* SHOP BODY */
/*************/
.shop-body-container {
  display: flex;
  margin: 50px 150px 50px 150px; }

/*******************/
/* CATEGORIES MENU */
.side-bar-menu {
  padding-left: 50px; }

.categoriesMenu {
  margin: 50px 0px 0px 0px;
  padding: 0;
  color: #83472C; }
  .categoriesMenu h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 30px 0px; }

.categoriesButtons {
  display: flex;
  margin: 10px 0px 10px 0px;
  background-color: #83472C;
  color: #f5e4bb;
  border: 1px solid #83472C;
  padding: 5px;
  border-radius: 5px; }

.categoriesButtons:hover {
  background-color: #f5e4bb;
  color: #83472C; }

/********************/
/* PRODUCTS IN SHOP */
.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5rem;
  margin: 50px; }

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px; }

.card-image {
  width: 200px; }
  .card-image img {
    display: block;
    max-width: 100%; }

.card-title {
  height: 50px;
  text-align: center;
  padding-top: 25px; }

.card-price {
  padding: 15px; }

.btnAddToCart {
  background-color: #83472C;
  color: #f5e4bb;
  border: 1px solid #83472C;
  padding: 5px;
  border-radius: 5px; }

.btnAddToCart:hover {
  background-color: #f5e4bb;
  color: #83472C; }

/*****************/
/* CHECKOUT BODY */
/*****************/
.bodyCheckoutContainer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center; }
  .bodyCheckoutContainer h3 {
    padding-bottom: 30px; }

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.productInCheckout {
  display: flex;
  align-items: center;
  margin: 0px 150px 0px 150px;
  justify-content: space-around; }

.productCheckoutContainer {
  display: flex;
  margin: 10px;
  justify-content: right;
  width: 100%; }
  .productCheckoutContainer p {
    padding: 0px 25px 10px 25px;
    color: #83472C;
    border-bottom: 2px solid #83472C; }

.eliminateProductFromCheckout {
  color: #83472C;
  background-color: white;
  margin: 20px;
  border: transparent;
  font-size: 25px;
  font-weight: bold; }

.checkoutBox {
  width: 350px;
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: space-between; }
  .checkoutBox button {
    padding: 10px;
    background-color: #83472C;
    color: #f5e4bb;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-color: transparent; }

/******************/
/* THANK YOU PAGE */
/******************/
.thankYouContainer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }

/***********/
/* CONTACT */
/***********/
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px; }
  .contactContainer form {
    display: flex;
    flex-direction: column; }

.contactForm {
  flex-direction: column; }

.contactFormHeader {
  margin-bottom: 50px; }
  .contactFormHeader h4 {
    margin-bottom: 20px;
    font-size: 35px; }
  .contactFormHeader p {
    font-size: 25px; }

.contactFormInput {
  padding: 10px;
  margin-bottom: 10px; }

.formInputBigBox {
  padding: 10px;
  margin-bottom: 10px;
  height: 140px; }

.formContactButton {
  padding: 12px;
  background-color: #f5e4bb;
  color: #83472C;
  border: transparent;
  font-weight: bold; }

.formContactButton:hover {
  background-color: #83472C;
  color: #f5e4bb; }

.confirmButton {
  background-color: #83472C;
  color: #f5e4bb; }

/**********/
/* FOOTER */
/**********/
.footerContainer {
  background-color: #83472C;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.footerFormHeader {
  margin-bottom: 20px;
  color: #f5e4bb; }
  .footerFormHeader h4 {
    font-size: 30px;
    margin-bottom: 10px; }
  .footerFormHeader p {
    font-size: 20px; }

.formInput {
  padding: 10px; }

.footerContactButton {
  padding: 12px;
  background-color: #f5e4bb;
  color: #83472C;
  border: transparent; }

.footerContactButton:hover {
  opacity: 0.5;
  font-weight: bold; }

.footerLogo img {
  padding-bottom: 10px; }

.footerSocialBar {
  display: flex;
  justify-content: center; }
  .footerSocialBar img {
    width: 50px;
    padding: 5px; }

/**********/
/* MODALS */
/**********/
/**********************/
/* EMAIL PROMPT MODAL */
#emailBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s opacity 0.5s;
  overflow-y: initial; }

.email-list-prompt {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 350px;
  border-radius: 15px; }

.promptContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .promptContainer h1 {
    margin-top: 45px;
    font-size: 30px;
    color: #83472C; }
  .promptContainer h3 {
    text-align: center;
    font-size: 20px;
    padding: 40px 20px 40px 20px;
    margin: 0;
    color: #83472C; }

#btnCloseEmailPrompt {
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px; }

.emailInput {
  text-align: center; }

.emailPlaceholder {
  width: 250px;
  padding: 10px; }

.confirmEmailButton {
  background-color: #83472C;
  color: #f5e4bb;
  padding: 10px;
  border: transparent; }

.confirmEmailButton:hover {
  background-color: #f5e4bb;
  color: #83472C; }

.email-prompt-hidden {
  visibility: hidden;
  opacity: 0; }

/***********************/
/* SHOPPING CART MODAL */
.modalBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
  overflow-y: initial; }

.modalShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  width: 80%;
  height: 550px; }
  .modalShoppingCart h3 {
    position: absolute;
    top: 0;
    padding-top: 25px;
    font-size: 30px;
    color: #83472C; }

#btnCloseCart {
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 20px;
  background-color: white;
  color: #83472C;
  border: #83472C 2px solid;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold; }

.cartContainer {
  max-height: 350px;
  overflow-y: scroll;
  width: 80%;
  padding-right: 80px; }

.cartContainer::-webkit-scrollbar {
  background: white;
  border-radius: 10px;
  border-color: #83472C;
  width: 7px; }

.cartContainer::-webkit-scrollbar-thumb {
  background: #83472C;
  border-radius: 10px; }

.productInCart {
  display: flex;
  align-items: center; }

.productCartContainer {
  display: flex;
  margin: 10px 40px 10px 10px;
  justify-content: right;
  width: 100%; }
  .productCartContainer p {
    padding: 0px 25px 10px 25px;
    color: #83472C;
    border-bottom: 2px solid #83472C; }

.eliminateProductFromCart {
  color: #83472C;
  background-color: white;
  margin: 20px;
  border: transparent;
  font-size: 25px;
  font-weight: bold; }

.checkOutCart {
  width: 300px;
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  padding: 25px;
  justify-content: space-between; }
  .checkOutCart button {
    padding: 10px;
    background-color: #83472C;
    color: #f5e4bb;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-color: transparent; }

.totalShoppingCart {
  color: #83472C;
  font-size: 20px;
  font-weight: bold; }

/************************/
/* MODAL SUBMIT CONTACT */
.modalSubmitBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
  overflow-y: initial; }

.modalSubmitContainer {
  background-color: white;
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .modalSubmitContainer h2 {
    margin: 30px; }
  .modalSubmitContainer h4 {
    margin: 30px; }
  .modalSubmitContainer button {
    background-color: #83472C;
    color: #f5e4bb;
    width: 60px;
    height: 40px;
    border: transparent;
    border-radius: 10px; }

/************************/
/* SUBSCRIBE FORM MODAL */
.modalSubscribeBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
  overflow-y: initial; }

.modalSubscribeContainer {
  background-color: white;
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .modalSubscribeContainer h2 {
    margin: 30px; }
  .modalSubscribeContainer h4 {
    margin: 30px; }
  .modalSubscribeContainer button {
    background-color: #83472C;
    color: #f5e4bb;
    width: 60px;
    height: 40px;
    border: transparent;
    border-radius: 10px; }

.modal-visible {
  visibility: visible;
  opacity: 1; }

.hidden {
  display: none; }

/*****************/
/* MEDIA QUERIES */
/*****************/
/*****************/
/* LARGE MOBILES */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* HOME SCREEN */
  .bannerContainer button {
    padding: 8px;
    font-size: 12px; }
  .recommendedBox .product-card {
    margin: 0; }
    .recommendedBox .product-card .card-image {
      width: 150px; }
  /* SHOP */
  .shop-body-container {
    margin: 15px 0px 15px 0px; }
    .shop-body-container .side-bar-menu {
      padding-left: 5px; }
      .shop-body-container .side-bar-menu h4 {
        font-size: 20px; }
      .shop-body-container .side-bar-menu .categoriesButtons {
        font-size: 10px; }
    .shop-body-container .products-container {
      grid-template-columns: 1fr 1fr;
      margin: 50px 0px 50px 0px;
      padding-left: 0.5rem; }
      .shop-body-container .products-container .product-card {
        margin: 15px; }
        .shop-body-container .products-container .product-card .card-image {
          width: 150px; }
  /* MODAL SHOPPING CART */
  .modalShoppingCart {
    height: 500px; }
    .modalShoppingCart h3 {
      font-size: 25px; }
    .modalShoppingCart .checkOutCart {
      padding: 15px;
      justify-content: space-evenly; }
      .modalShoppingCart .checkOutCart .totalShoppingCart {
        font-size: 20px; }
      .modalShoppingCart .checkOutCart button {
        font-size: 12px;
        padding: 7px; }
  .cartContainer {
    padding-right: 0px;
    width: 100%; }
  .productCartContainer {
    margin-right: 5px; }
    .productCartContainer p {
      padding-right: 4px;
      font-size: 12px; }
  /* FOOTER */
  .footerContact {
    padding-left: 10px; }
    .footerContact .footerFormHeader h4 {
      font-size: 20px; }
    .footerContact .footerFormHeader p {
      font-size: 15px; }
  .footerMenu {
    text-align: center;
    padding-right: 10px; }
    .footerMenu .footerLogo img {
      width: 150px; } }

/***********/
/* TABLETS */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* HOME SCREEN */
  .bannerContainer button {
    padding: 8px;
    font-size: 12px; }
  .recommendedBox .product-card {
    margin: 0; }
    .recommendedBox .product-card .card-image {
      width: 180px; }
  /* SHOP */
  .shop-body-container {
    margin: 50px 0px 50px 0px; }
    .shop-body-container .products-container {
      margin: 50px 0px 50px 0px;
      padding-left: 1rem; }
      .shop-body-container .products-container .product-card {
        margin: 15px; }
        .shop-body-container .products-container .product-card .card-image {
          width: 150px; } }

/*****************/
/* LARGE DEVICES */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* HOME SCREEN */
  .bannerContainer button {
    padding: 10px; }
  /* SHOP */
  .shop-body-container {
    margin: 50px 0px 50px 0px; }
    .shop-body-container .products-container {
      margin: 50px 0px 50px 0px;
      padding-left: 1rem; }
      .shop-body-container .products-container .product-card {
        margin: 15px; }
  .recommendedBox .product-card {
    margin: 15px; } }
