/***************/
/* MAIN BANNER */

.bannerContainer {
    margin-right: 100px;
    display: flex;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    button {
        position: absolute;
        top: 75%;
        left: 57%;
        background-color: #f5e4bb;
        color: #83472C;
        border-radius: 7%;
        padding: 15px;
        border: 0px;
        font-weight: bold;
    }
}